.main-panel > .content {
    margin-top: 50px;
}

h1.project-header {
    color: white;
}

h1.project-header > small {
    font-size: 60%;
    color: #a9afbbd1;
}

.project-type {
    font-size: 3.3125rem;
    line-height: 1.15em;
    color: white;
}

.install-command,.install-command-container > .project-installer {
    color: white;
    font-size: 16px;
    line-height: 16px;
    border: 1px dashed #a9afbbd1;
    padding: 6px;
    height: 30px;
    display: inline-block;
    margin-bottom: 0;
}

.install-command-container > .project-installer {
    padding: 6px;
    vertical-align: top;
    border-left: 0;
}

.project-description {
    padding: 6px;
    margin-bottom: 20px;
    color: #8b92a9;
}

.navbar-wrapper > .navbar-brand:last-child {
    color: white !important;
}

.footer .active, .nav-link.active {
    color: white !important;
}

section {
    color: #aaaaaa !important;
}

@media (max-width: 1200px) {
    .extra-index-url {
        position: absolute;
        left: -9999px;
        display: block;
    }
}
