.main-panel > .content {
    margin-top: 50px;
}

@media (max-width: 700px) {
    .breadcrumb-container {
        position: relative;
    }
    .breadcrumb-container > :not(:last-child) {
        display: none;
    }
    .breadcrumb-container > :first-child {
        display: inline;
        font-size: 0;
    }
    .breadcrumb-container > :nth-child(2) {
        display: inline !important;
    }
    .breadcrumb-container > :first-child::after {
        font-family: "Material Icons";
        content: "home";
        color: #a9afbb !important;
        font-size: 1.125rem !important;
    }
}

@media (max-width: 400px) {
    .breadcrumb-container > :first-child::after {
        display: none;
    }
    .breadcrumb-container > :first-child {
        font-size: 1.125rem;
    }
    .breadcrumb-container > :not(:first-child) {
        display: none !important;
    }

}

.sidebar .nav p {
    white-space: normal;
    max-width: 200px;
    overflow: hidden;
}

.project-page-head {
    margin-bottom: 0.5em;
}

h1.project-header {
    color: white;
}

h1.project-header, h1.project-header > * {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

h1.project-header > small {
    font-size: 60%;
    color: #a9afbbd1;
}

@media (max-width: 700px) {
    .project-type-icon .project-type {
        font-size: 2rem !important;

    }
    h1.project-header {
        font-size: 2rem;
        margin-right: 0.5em;
    }
    h1.project-header > small {
        font-size: 50%;
    }
}

@media (max-width: 450px) {
    h1.project-header > .header-name {
        font-size: 1.5rem !important;
    }
    h1.project-header > .header-identifier {
        font-size: 45%;
    }
}

@media (max-width: 990px) {
    .project-page-part {
        margin-left: 15px;
        margin-right: 15px;
    }
}

.project-type-icon {
    text-align: right;
}
.project-type-icon .project-type {
    font-size: 3.3125rem;
    line-height: 1.15em;
    color: white;
}
.project-link-container {
    margin-right: 0.5em;
}

.install-command-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
}
.install-command-container > .install-command-version {
    width: 100%;
    display: flex;
    margin-bottom: 0.25em;
}
.install-command-version > .install-command {
    flex-grow: 1;
    flex-shrink: 1;
}
.install-command-version > .install-command,
.install-command-version > .project-installer {
    color: white;
    font-size: 16px;
    line-height: 16px;
    border: 1px dashed #a9afbb;
    padding: 6px;
    height: 30px;
    display: inline-block;
    margin-bottom: 0;
}

.install-command-container > .project-installer {
    padding: 6px;
    vertical-align: top;
    border-left: 0;
}

.project-link {
    font-size: 160%;
}

.project-description {
    padding: 6px;
    margin-bottom: 20px;
    color: #8b92a9;
}

.navbar-wrapper > .navbar-brand:last-child {
    color: white !important;
}

.footer .active, .nav-link.active {
    color: white !important;
}

.layout-two-columns {
    display: flex;
    flex-direction: row;
}

.layout-two-columns > * {
    margin: 1em;
}

.layout-two-columns .releases {
    flex-grow: 19;
    flex-shrink: 19;

    width: 75% !important;
    height: 75% !important;
}
.layout-two-columns .infos {
    flex-grow: 1;
    flex-shrink: 1;

    display: flex;
    flex-direction: column;

    max-width: 25%;
}

.card-dependencies ul {
    list-style: none;
    padding: 0;
}
.card-dependencies ul > li {
    display: block;
}

.card-dependencies ul > li.none {
    text-align: center;
}

ul.distributions {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.distributions > li {
    display: inline;
    margin-left: 1em;
}

ul.distributions > li:first-child {
    margin-left: 0;
}

@media (max-width: 1120px) {
    .layout-two-columns {
        flex-direction: column;
    }

    .layout-two-columns > .table {
        width: 100% !important;
    }

    .layout-two-columns .infos {
        flex-direction: row;
        justify-content: center;
        max-width: 100% !important;
    }

    .layout-two-columns .infos > .card {
        flex-grow: 1;
        flex-shrink: 1;
        margin: 1em;
        max-width: 50%;
    }

    .card-dependencies ul li {
        display: inline;
    }

    .card-dependencies ul li:after {
        content: ", "
    }

    .card-dependencies ul li:last-child:after {
        content: "";
    }
}

@media (max-width: 990px) {
    .layout-two-columns {
        padding-right: 32px;
    }

}

@media (max-width: 800px) {
    .layout-two-columns .infos > .card {
        flex-grow: 1;
        flex-shrink: 1;
        margin: 1em;
        max-width: 100%;
    }
}

@media (max-width: 500px) {
    ul.distributions > li {
        display: block;
        margin-left: 0 !important;
    }

    .releases td:nth-child(2), .releases th:nth-child(2) {
        display: none;
    }

    .releases td:nth-child(3), .releases th:nth-child(3) {
        text-align: center;
    }

    .releases td:nth-child(4), .releases th:nth-child(4) {
        text-align: right;
    }

    .releases td:nth-child(5), .releases th:nth-child(5) {
        display: none;
    }
}

@media (max-width: 800px) {
    .header-name {
        display: block;
    }

    .header-identifier {
        display: block;
    }

    .plugin-listing {
        display: block;
    }

    .plugin-listing > thead {
        display: none;
    }

    .plugin-listing > tbody {
        display: flex;
        flex-direction: column;
    }

    .plugin-listing > tbody > tr {
        display: flex;
        flex-direction: row;
        margin: 1em;
        border: 1px hsla(0, 0%, 71%, 0.1) solid;
        border-radius: 5px;
        flex-grow: 1;
        flex-shrink: 1;
        flex-wrap: wrap;
    }

    .plugin-listing > tbody > tr > * {
        display: block;
        padding: 0.5em;
    }

    .plugin-listing .plugin-title {
        text-align: center;
        width: 100%;
        background: linear-gradient(60deg,#7b1fa2,#913f9e);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .plugin-listing .plugin-title a {
        display: block;
    }

    .plugin-listing .plugin-description {
        width: 100%;
    }

    .plugin-listing .plugin-category {
        order: 1;
        text-align: right;
        flex-grow: 1;
        flex-shrink: 1;
    }

    .plugin-listing .plugin-website  {
        order: 0;
    }
    .plugin-listing .plugin-installer {
        order: 0;

    }

}

@media (max-width: 400px) {
    .plugin-listing .plugin-installer {
        text-align: right;
        flex-grow: 1;
        flex-shrink: 1;
    }

    .plugin-listing .plugin-category {
        text-align: center;
        width: 100%;
    }

    .plugin-listing .plugin-title-identifier {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

section {
    color: #aaaaaa !important;
}

@media (max-width: 1200px) {
    .extra-index-url {
        position: absolute;
        left: -9999px;
        display: block;
    }
}

@media (max-width: 900px) {
    .footer nav {
        float: none !important;
    }
    .footer nav li {
        display: block;
        width: 100%;
    }
}
