{% extends "frontend/template.html" %}
{% load fullurl %}
{% load cache %}

{% block pagetitle %}
  {% if tab in categories %}
    VSRepo &mdash; {{ tab }}
  {% else %}
    VSRepo Overview
  {% endif %}
{% endblock %}

{% block header %}
  <a class="navbar-brand" href="{% url "home" %}">Warehouse</a>
  {% if tab in categories %}
    <i class="material-icons">chevron_right</i>
    <a class="navbar-brand" href="{% url "category" category=tab %}">{{ tab }}</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% cache 1800 listing tab %}
    {% include "frontend/fragments/plugin_table.html" with projects=projects %}
  {% endcache %}
{% endblock %}
